<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.baidu_analytics %}
<!-- Asynchronous Baidu Analytics snippet -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?{{ site.baidu_analytics }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% endif %}

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}
